<div class="row" style="gap: 2px">
  <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let project of projects">
    <div class="card mb-4" style="width: 18rem">
      <img class="card-img-top" [src]="project.imgSrc" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">{{ project.title }}</h5>
        <p class="card-text">{{ project.text }}</p>
        <button
          type="button"
          class="btn btn-primary"
          (click)="pickProject(project)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          Donera
        </button>
      </div>
    </div>
  </div>
</div>
