<section>
  <h1>Projects</h1>
  <app-projects
    [projects]="projects"
    (projectPicked)="handleProjectPicked($event)"
  ></app-projects>

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            {{ projectName }}
          </h5>
          <button
            *ngIf="!submitClicked"
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div *ngIf="isDonationInProgress" class="modal-body">
          <!-- <form> -->
          <div class="form-group">
            <label
              style="border-bottom: 1px solid lightgray; padding-bottom: 1rem"
              >{{ projectText }}</label
            >
            <label style="padding: 1rem 0" for="donationAmount"
              >Enter the donation amount:</label
            >
            <input
              type="number"
              class="form-control"
              id="donationAmount"
              name="donationAmount"
              placeholder="Donation amount"
              [(ngModel)]="donationAmount"
              min="1"
            />
            <h3
              *ngIf="donationAmount"
              style="color: #3333; text-align: center; padding-top: 1rem"
            >
              <span style="font-weight: 900; color: lightgreen"
                >{{ donationAmount }}
              </span>
              SEK
            </h3>
          </div>

          <!-- </form> -->

          <div class="container" style="padding: 10px">
            <div *ngIf="qrCodeUrl" class="qr-code">
              <img
                [src]="qrCodeUrl"
                alt="QR Code"
                style="width: 300px; height: 300px"
              />
            </div>
            <p id="Qstatus" [ngStyle]="{ color: statusColor }">{{ status }}</p>
          </div>
        </div>
        <!--  modal body -->

        <div *ngIf="qrCodeUrl" class="spinner-border" role="status">
          <span class="sr-only"></span>
        </div>

        <div *ngIf="!isDonationInProgress" class="thankyou-content">
          <h2 class="thankyou-text">Thank you for your donation!</h2>
        </div>

        <div *ngIf="!submitClicked" class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary" (click)="submitForm()">
            Donate
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
