<section ng-app="myApp">
    <h1>Donation</h1>

    <form ng-controller="FormController">
        <div class="form-group">
            <label for="projectName">Enter the project name you want to donate to:</label>
            <input #projectNameInput type="text" class="form-control" id="projectName" placeholder="Enter project name" ng-model="projectName">
        </div>

        <div class="form-group">
            <label for="donationAmount">Enter the donation amount:</label>
            <input #donationAmountInput type="text" class="form-control" id="donationAmount" placeholder="Donation amount" ng-model="donationAmount">
        </div>
        <div class="form-group">
            <label for="donationAmount">Enter the donation amount:</label>
            <input #donationAmountInput type="text" class="form-control" id="donationAmount" placeholder="Donation amount" ng-model="donationAmount">
        </div>

        <button type="submit" class="btn btn-primary" 
        ng-click="submitForm()">Donate</button>
    </form>
</section>