section {
    background-color: white;
    border: 1px solid #eee;
    padding: 20px;
}

div {
    margin: 20px;
}

form {
    /*background-color: aqua;*/
}

button {
    width: 100px;
    margin-left: 20px;;
}