<section>
    <h1>Index</h1>

    <form>
        <div class="form-group">
          <label for="projectName">Project name</label>
          <input type="text" class="form-control" id="projectName" placeholder="Enter project name">
        </div>

        <br><br>

        <div class="form-group">
          <label for="donationAmount">Donation amount</label>
          <input type="text" class="form-control" id="donationAmount" placeholder="Donation amount">
        </div>

        <br><br>

        <button type="submit" class="btn btn-primary">Donate</button>
      
    </form>

</section>