.chart-container {
  position: relative;
  height: 400px;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
}

canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}

button {
  width: 80%;
}

section {
  background-color: white;
  border: 3px solid #eee;
}

h1 {
  margin-left: 20px;
}

/* Desktop */
@media screen and (max-width: 1300px) {
  .chart-container {
    width: 90%;
  }
}

/* Tablet */
@media screen and (max-width: 900px) {
  .chart-container {
    width: 80%;
  }

  button {
    margin-top: 12px;
  }
}

/* Mobile */
@media screen and (max-width: 500px) {
  .chart-container {
    width: 80%;
  }

  button {
    margin-top: 12px;
    width: 100%;
  }
}
